    </main>
    <footer>
        <p>Thank you for visiting! Follow me:</p>
        <div class="social-links">
            <a href="https://github.com/shammsit" target="_blank" rel="noopener noreferrer" title="GitHub"><i class="fab fa-github"></i></a>
            <a href="https://wa.me/message/LC3VD4QG25VKE1?src=qr" target="_blank" rel="noopener noreferrer" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.facebook.com/share/15e8GBHMtA/" target="_blank" rel="noopener noreferrer" title="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/shamantagarai?igsh=bWNzNXNlcjA1cXE4" target="_blank" rel="noopener noreferrer" title="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="mailto:garaishamanta0@gmail.com" title="Email"><i class="fas fa-envelope"></i></a>
        </div>
         <p>&copy; 2024 Shamanta Garai. All Rights Reserved.</p>
    </footer>
</body>
</html>
