<%- include('partials/header') %>

<div class="dashboard-container">
    <h2>Respected Admin,<br>Welcome to your Dashboard!</h2>
    <p>You have successfully logged in.</p>
    <p>You can controll from here everything.</p>
    <a href="/logout" class="logout-btn">Logout</a>
</div>

<%- include('partials/footer') %>
